* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

Body, .top-container{
    display: flex;
    flex-direction: column;
}

.top-container, footer {
    background-color: #1F2937;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

header h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.links {
    padding: 0 10px;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.box-parent{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}

#box-left {
    width: 420px;
}

#box-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#box-left p {
    font-size: 18px;
    color: #E5E7EB;
}

#box-left button {
    color: #fff;
    background-color: #3882F6;
    margin-top: 10px;
    padding: 5px 25px;
    border-style: none;
    border-radius: 5px;
}

#hero-img {
    width: 500px;
    height: 100%;
    background-color: gray;
}



