* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body, .top-container{
    display: flex;
    flex-direction: column;
}

.top-container, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
}

header h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.navBar ul {
    list-style: none;
    display: flex;
}

.links {
    padding: 0 10px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
}



